@page "/todolist"

<PageTitle>Tasks to do</PageTitle>
<h3>ToDoList</h3>


<form method="post" @onsubmit="Add" @formname="starship-plain-form">
    <AntiforgeryToken />
    <div>
        <label>
            Title:
            <InputText @bind-Value="item.Title"/>
        </label>
        <label>
            Description:
            <InputText @bind-Value="item.Description"/>
        </label>
    </div>
    <div>
        <button type="submit">Add Task</button>
    </div>
</form>

<table>
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scode="col">Creation Date</th>
        </tr>
    </thead>
    @foreach (var todo in toDos)
    {
            <tr>
                <td scope="row">@todo.Title</td>
                <td>@todo.Description</td>
                <td>@todo.CreationDate</td>
            </tr>
    }
</table>



@code {

    List<ToDoItem> toDos = new List<ToDoItem>();

    private ToDoItem item = new ToDoItem();

    public void Add()
    {
        if (!string.IsNullOrEmpty(item.Title))
        {
            item.CreationDate = DateTime.Now;
            toDos.Add(item);
            item = new ToDoItem();
        }
    }
}
